<?xml version="1.0"?>
<!--
  Informationen zur Konfiguration Ihrer ASP.NET-Anwendung finden Sie unter
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnDB" connectionString="Driver={MySQL ODBC 5.2 UNICODE Driver};Server=10.174.27.3;Database=5ahwii_gabric;User=5ahwii_gabric;Password=15.12.2000;Option=3;"/>
    <!--<add name="ConnDB" connectionString="Driver={MySQL ODBC 5.2 UNICODE Driver};Server=78.104.47.39;Database=5ahwii_gabric;User=5ahwii_gabric;Password=15.12.2000;Option=3;" />-->
    <add name="5ahwii_gabricConnectionString" connectionString="server=10.174.27.3;user id=5ahwii_gabric;password=15.12.2000;persistsecurityinfo=True;database=5ahwii_gabric" providerName="MySql.Data.MySqlClient"/>
    <add name="kids_gender" connectionString="server=10.174.27.3;user id=5ahwii_gabric;password=15.12.2000;persistsecurityinfo=True;database=5ahwii_gabric" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Pepper" value="hdjrhfjd75jjgt5"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <forms name="FerienspassCookie" loginUrl="~/login.aspx" protection="All" timeout="5" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="registration"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>