body { 
}

.napeopleform {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.registration-container{
    margin-left:30%;
    margin-right:30%;
    margin-top:5%;
    padding:2%;
    border-radius:10px;
}

.loginform {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 8%;
}

.pwforgotform {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
}

.GridView {
}

.panBlockBackground {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.addCourseForm {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 30px;
    width: 44%;
    opacity: 1;
    margin-left:28%;
    margin-right:28%;
    border-radius:5px;
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 10px 10px;
    border-radius: 50%;
}

/*@media print{

    .printview{
        display: none;
    }
}*/
